@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STIU Course Viewer</h1>

    <p class="lead">STIU Course Advisor is a web application build for helping advisors to choose what courses to offer students in the future.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track students</h2>
        <p>
            Save student info and select their major
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage courses</h2>
        <p>See which students have yet to take a course</p>
    </div>
    <div class="col-md-4">
        <h2>Add and modify courses and students</h2>
        <p>Easily modify students and the courses they've taken</p>

    </div>
</div>